In [30]:
!pip install mysql-connector-python
# !pip install MySQL-python

Requirement already satisfied: mysql-connector-python in c:\users\sharath\anaconda3\lib\site-packages (8.0.27)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\sharath\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [1]:
import mysql.connector as connection

In [2]:
mydb = connection.connect(host='localhost',user='root',passwd="Chetana@10",use_pure=True)

In [3]:
try:
    mydb = connection.connect(host='localhost',user='root',passwd="Chetana@10",use_pure=True)
    #check if conection is established
    
    query = 'SHOW DATABASES'
    cursor = mydb.cursor() #to create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    mydb.close()
    print(e)

[('information_schema',), ('intro_sql',), ('mysql',), ('performance_schema',), ('sys',), ('udemy_course',)]

In [34]:
conn = connection.connect(host='localhost',user='root',passwd="Chetana@10",use_pure=True)
curr = conn.cursor()
curr.execute('create database Sql_project')
print(curr.fetchall())

DatabaseError: 1007 (HY000): Can't create database 'sql_project'; database exists

In [4]:
try:
    mydb = connection.connect(host='localhost',user='root',passwd="Chetana@10",use_pure=True)
    #check if conection is established
    
    query = 'CREATE DATABASE Student'
    cursor = mydb.cursor() #to create a cursor to execute queries
    cursor.execute(query)
    print("Database created")
except Exception as e:
    mydb.close()
    print(e)

Database created

In [5]:
try:
    mydb = connection.connect(host='localhost',user='root',passwd="Chetana@10",use_pure=True)
    #check if conection is established
    
    query = 'use Student;CREATE TABLE Student_details (student_id INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60),LastName VARCHAR(60),Registrationdate DATE,Class VARCHAR(20),section VARCHAR(10))'
    cursor = mydb.cursor() #to create a cursor to execute queries
    cursor.execute(query,multi=True)
    print("table created")
except Exception as e:
    mydb.close()
    print(e)

table created

In [6]:
try:
    mydb = connection.connect(host='localhost',user='root',passwd="Chetana@10",use_pure=True)
    #check if conection is established
    
    query = 'use Student;show tables'
    cursor = mydb.cursor() #to create a cursor to execute queries
    cursor.execute(query,multi=True)
    print(cursor.fetchall())
#     print("table created")
except Exception as e:
    mydb.close()
    print(e)

[]

In [12]:
try:
    mydb = connection.connect(host='localhost',user='root',passwd="Chetana@10",use_pure=True)
    #check if conection is established
    
    query = "use Student;INSERT INTO Student_details VALUES(10,'sharath','dinesh','1997-11-11','eleventh','A')"
    cursor.execute(query,multi=True)
    print("table created")
except Exception as e:
    mydb.close()
    print(e)

weakly-referenced object no longer exists